body {
  line-height: 1.5;
  font-family: 'Assistant', sans-serif;
}

// Heading Elements
h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
p {
  font-size: 16px;
}


// Padding
.padding {
  padding: 98px 0;
}

// button 
.btn {
  padding: 22px 64px;
  border: none;
  outline: 0;
  background-color: #fe86d4;
  font-size: 24px;
  text-transform:capitalize;
  color: white;
  cursor: pointer;
  &:hover {
    color: #7b6cd5;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}